<!DOCTYPE html>
   <head>
      <title>Current Readings</title> 
   </head>

   <body>
      <h1>Current Readings for {{ date }} {{ time }} </h1>
      <h2>Temperatures</h2>
      <p>Outside : {{ outside }}<br \>
      Master Bedroom : {{ masterbr }} <br \>
      Basement : {{ basement }} <br \>
      Humidity : {{ humidity }}</p>

      <h2>Appliances</h2>
      <p>Furnace: In: {{ furn_in }} Out: {{ furn_out }}<br \>
          Water Heater: {{ waterhtr }}</p> 
      <h2> Graphs </h2>
      <p> <img src="/static/Humidity.png" align=left width=509 height=382 BORDER=0> 
      <p> <img src="/static/MasterBR.png" align=left width=509 height=382 BORDER=0> 
      <p> <img src="/static/Basement.png" align=left width=509 height=382 BORDER=0> 
      <p> <img src="/static/Outside.png" align=left width=509 height=382 BORDER=0> 
</p>    
   </body>
</html>
